APP_NAME=API-Tren
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_PORT=8000
APP_URL=http://localhost:8000

APP_LOCALE=ru
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=sail
DB_PASSWORD=password

TELEGRAM_BOT_TOKEN=
TELEGRAM_AUTH_DATE_TTL=300
TELEGRAM_AUTH_DATE_FUTURE_LEEWAY=30